element.style {
}
.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content {
    margin-left: 235px;
}
.pcoded[theme-layout="vertical"][vertical-placement="left"] .pcoded-content {
    float: unset;
    right: 0;
}
* {
    box-sizing: border-box;
}
:root {
    --color-rd-light: white;
    --color-rd-dark: #424242;
    --color-rd-primary: #1688fe;
    --color-rd-blue-400: #0050c7;
    --color-rd-grey-50: #f6f6f6;
    --color-rd-grey-100: #ececed;
    --color-rd-grey-200: #e3e3e4;
    --color-rd-grey-400: #a1a1a5;
    --color-rd-grey-500: #595964;
    --color-rd-grey-600: #4c4c55;
    --color-rd-grey-900: #14141f;
    --color-rd-accent: #27cfb1;
    --color-rd-orange: #df7e69;
    --color-rd-orange-2: #ff6f5b;
    --size-bezel: 5px;
    --size-radius: 4px;
    --rd-card-width: 300px;
    --rd-bottom-margin: 15px;
    --rd-score-banner-color: #1688fe;
    --linkedin-blue: #0a66c2;
    --linkedin-blue-hover: #004182;
}
