.login_page {
  display: flex;
  justify-content: space-between;
}
.login_left {
  width: 58%;
  background-color: #fff;
  min-height: 100vh;
}
.login-right {
  background-color: #039be5;
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
  padding-top: 30px;
  min-height: 100vh;
}
.login-right p,
.login-right h2 {
  text-align: center;
  color: #fff;
}
.login-right p {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
}
.login-right ._img {
  width: 500px;
}
.button.bg-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(3, 155, 229, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 155, 229, 0.2) !important;
  color: #fff;
}
.button.bg-primary {
  background-color: #039be5 !important;
  border: none;
}
.button {
  font-weight: 600;
  color: #fff;
  position: relative;
  background: transparent;
  border-radius: 500px;
  padding: 10px 40px;
  border: 1px solid #fff;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
.button:hover {
  background-color: #fff;
  color: #444f60;
}
.login_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.login_left .top-logo {
  height: 60px;
}
.login_left .text-bold {
  font-weight: bold;
}
.login_left .all-profile {
  display: flex;
  align-items: center;
}
.login_left .profile {
  border-radius: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  transition: all 0.3s;
  /* border: 1px solid gray; */
  margin-left: 5px;
  background-color: #4a4a4a;
}
.login_left .profile img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.login_left .profile p {
  font-weight: 500;
  color: #fff;
}
.login_left .profile.active {
  background-color: #039be5;
}
.login_left .form {
  margin-top: 30px;
}
.login_left .form .field {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.login_left .form .field .control {
  position: relative;
}
.login_left .form .field .control input:focus-visible {
  border: 1px solid #444;
}
.login_left .form .field .control input {
  padding-bottom: 7px;
  outline: 0;
  padding-top: calc(0.375em - 1px);
  padding-left: 2.5em;
  font-size: 1rem;
  height: 2.5rem;
  width: 17rem;
  color: #878787;
  transition: all 0.8s;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: 20px;
}
.login_left .form .field .control .icon {
  color: #dbdbdb;
  height: 1.8em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2.25em;
  z-index: 4;
  left: 0;
  font-size: 1.25rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
