.sidebar {
    width: 250px; /* Ajustez la largeur selon vos besoins */
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    background-color: #CD295A; 
    color:white;
    height: 100%;
    position: fixed;
    top: 60px; /* Ajustez en fonction de la hauteur de la navbar */
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
  }
  
  .sidebar ul li a {
    display: block;
    padding: 10px;
    color:white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    background-color: grey; /* Couleur de surbrillance au survol */
  }
  
  /* Contenu */
  .content {
    margin-left: 250px; /* Même largeur que le sidebar */
    padding: 20px;
  }

  