/* Ajoutez ces styles au style.css pour que le Navbar ressemble au Sidebar */
.NavbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar {
  background-color: #CD295A;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  color: white !important; /* Utilisez !important pour écraser les styles par défaut */
  height: 60px;
}

/* Assurez-vous que les styles spécifiques du Navbar sont appliqués */
.Navbar.Brand {
  color: white !important; /* Utilisez !important pour écraser les styles par défaut */
}

.Navbar .Nav.Link {
  color: white !important; /* Utilisez !important pour écraser les styles par défaut */
}

.Navbar .Nav.Link:hover {
  color: white !important; /* Utilisez !important pour écraser les styles par défaut */
  background-color: transparent;
}
